/* ================================= 
  General Styles
==================================== */

* {
    box-sizing:border-box;
  }

  a { 
    color: red;
    text-decoration: none;
  }

.name {
    margin: 0;
  }

body {
    line-height: 1.6;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   }

   .container {
    padding-left: 1em;
    padding-right: 1em;
    flex: 1;
    }

   
 
  

  /* ==========Header Line=================== */

  /* title animation */

  .text {
    text-align: center;
    margin-top: 56px;
    color: yellow;
    font-size: 3em;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  
  .animated {
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }

  @keyframes hinge {
    0% {transform: rotate(0);transform-origin: top left;animation-timing-function: ease-in-out;}
    20%, 60% {transform: rotate(80deg);transform-origin: top left;animation-timing-function: ease-in-out;}
    40% {transform: rotate(60deg);transform-origin: top left;animation-timing-function: ease-in-out;}
    80% {transform: rotate(60deg) translateY(0);transform-origin: top left;animation-timing-function: ease-in-out;}
    100% {transform: translateY(700px);}
  }
  .hinge {
    margin: 20px;
    animation-name: hinge;
  }
/* animation end */

  .main-header {
    background: rgb(82, 16, 16);
    padding: 1em 0;
  }

  .main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
  }

  a:hover{
    border: 5px solid yellow;  
   }

  @media (min-width: 769px) {
    .main-header, .main-nav, .mainT, .gsmP {
      display: flex;
    }
    .main-header, {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 1025px) {
    .main-header {
      flex-direction: row;
      justify-content: space-evenly;
    }
    
  }

 .pi {
   text-align: left;
   text-decoration: underline;
   text-indent: 25px;
 }

 
  
  
  /* ================Thailand Section============ */
.Thailand {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0 0 20px 10px blue;

}
  /*=============GSM Section====================*/
  .GSM {
      background-color: green;
      border-radius: 10px;
      text-align: center;
  }


  /*=================Footer====================*/

  .main-footer {
    text-align: center;
      padding: 2em 0;
      background: maroon;
      color: white;
  }
  
  .indexF {
    color: yellow
  }
 
  
  /* ================================= 
    Base Layout Styles
  ==================================== */
  
  /* ---- Navigation ---- */
  
 
  
  
  
    /* ---- Media Queries ---- */
  
  @media (min-width: 769px) {
    .container {
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
  }
  }
  /*----------------------------------*/
/* ---- Thailand Page Styling Below ---- */
 /*----------------------------------*/

/* ---- Thailand Page Header ---- */
 .link { 
  color: blue;
  text-decoration: none;
  font-weight: 750;
}

/* .nameT { 
  margin: 0;
  font-weight: 1000;
}*/

body {
  line-height: 1.6;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }

/*Thailand title animation */
.textT {
  text-align: center;
  margin-top: 56px;
  color: red;
  font-size: 3.5em;
  font-family: sans-serif;
  text-transform: uppercase;
}
.animatedT {
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes wobble {
  0% {transform: translateX(0%);}
  15% {transform: translateX(-25%) rotate(-5deg);}
  30% {transform: translateX(20%) rotate(3deg);}
  45% {transform: translateX(-15%) rotate(-3deg);}
  60% {transform: translateX(10%) rotate(2deg);}
  75% {transform: translateX(-5%) rotate(-1deg);}
  100% {transform: translateX(0%);}
}
.wobbleT {
  animation-name: wobble;
}


.main-headerT {
  background: white;
  /*padding: 1em 0;*/
  box-shadow: inset 0 0 20px 10px blue;
}

.main-nav .link {
  text-align: center;
  display: block;
  padding: 10px 15px;
}
.link:hover{
  border: 5px solid red;  
 }

@media (min-width: 769px) {
  .main-headerT, .main-nav {
    display: flex;
  }
  .main-headerT {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .main-headerT {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.pt {
  text-align: left;
  /* text-decoration: underline; */
  text-indent: 25px;
}

/* ---- Thailand temperature conversion ---- */

.tempBoxHeader {
  margin: 0 0;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  background-color: red;
}

.tempSection {
  margin: 0 0;
  padding: -2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  background-color: red;
  text-align: left;

}

.Tbox:hover {
  border: 5px solid blue;
}



/* ---- Thailand distance conversion ---- */

.distBoxHeader {
  margin: 0 0;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  background-color: blue;
}

.distSection {
  margin: 0 0;
  padding: -2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  background-color: blue;
  text-align: left;

}

.Dbox:hover {
  border: 5px solid red;
}

/* ---- Thailand media and travel info ---- */

.h1Tmedia {
  align-items: center;
  background-color: yellow;
}

.h2Tmedia {
  text-align: center;
  background-color: yellow;
  font-weight: 1000;
}

ul.thaiinfo {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul.thaiinfo li {
  list-style: none;
  margin: 0 10px;
}

ul.thaiinfo li img {
  border: 4px solid yellow;
  box-shadow: 0 5px 25px red;
 }

 .thaitourism {
  width: 75%;  
  aspect-ratio: 16 /9;
  margin: left 5oem;
 }

/* ---- Thailand Do ---- */
.containerT {
  background-color: green;
  border-radius: -5px;
  text-align: center;
  color: white;
  box-sizing: content-box;
  padding-bottom: 1em;
 }
 p {
  margin: 0;
  text-indent: 3ch;
}

/* ---- Thailand Do Not ---- */
.containerTB {
  background-color: red;
  border-radius: -5px;
  text-align: center;
  color: white;
  box-sizing: content-box;
  padding-bottom: 1em;
 }
 p {
  margin: 0;
  text-indent: 3ch;
}



/* ---- Thailand Page Photos ---- */

.linkTP { 
  color: blue;
  text-decoration: none;
  font-weight: 750;
}
.linkTP:hover{
  border: 5px solid green;  
 }
 .imgBox img {
   width: 50%;
   border: 4px solid red;
   box-shadow: 0 5px 25px blue;
 }
 ul.thumbT {
   margin: 0 auto;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
 }
 ul.thumbT li {
   list-style: none;
   margin: 0 10px;
 }
 ul.thumbT li img {
  border: 4px solid red;
  box-shadow: 0 5px 25px blue;
 }
/* animals */

.h1TA {
  align-items: center;
  background-color: green;
}

ul.thumbAT {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul.thumbAT li {
  list-style: none;
  margin: 0 10px;
}

ul.thumbAT li img {
  border: 4px solid red;
  box-shadow: 0 5px 25px blue;
 }
 .lizard {
  width: 50%;  
  aspect-ratio: 16 /9;
 }

/* Street Art */
 
.h1TSA {
  align-items: center;
  background-color: green;
}

ul.thaiSA {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul.thaiSA li {
  list-style: none;
  margin: 0 10px;
}

ul.thaiSA li img {
  border: 4px solid red;
  box-shadow: 0 5px 25px blue;
 }
 
/* Schools */
 .h1T {
  align-items: center;
  background-color: green;
}
 
 ul.schoolT {
  margin: 0 auto;
  padding:0em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ul.schoolT li {
  list-style: none;
  margin: 0 10px;
}

ul.schoolT li img {
  border: 4px solid red;
  box-shadow: 0 5px 25px blue;
 }
 
 .imgBoxT img {
  width: 50%;
  border: 4px solid red;
  box-shadow: 0 5px 25px blue;
 }




/* ---- Thailand Page Footer ---- */
.main-footerT {
  text-align: center;
    padding: 2em 0;
    background: rgb(204, 204, 51);
    color: white;
}
.linkF { 
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.linkF:hover{
  border: 5px solid whitesmoke;  
 }
  /*----------------------------------*/
/* ---- GSM Page Styling Below ---- */
 /*----------------------------------*/
 * {
  box-sizing:border-box;
}

.linkG { 
  color: red;
  text-decoration: none;
  font-weight: 750;
  text-decoration: solid;
}
 /* ---- GSM Page Header ---- */
 .main-headerG {
  padding: 3em 0;
}
 
 .nameG {
  margin: 0;
  font-weight: 1000;
  color: green;
  text-shadow: .5px 3px 0 rgb(73, 73, 23);
  text-align: center;
  font-size: 3em;
}

body {
  line-height: 1.6;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }

/* animation begin */
#header-backgroundG {
  background:url(../img/smoky/clingmans-dome2.jpg);
  animation:clouds_anim 30s linear infinite; 
}
@keyframes clouds_anim {
  0%{background-position: 0 0;}
  100%{background-position: -2122px 0;}
}

/* animation end */

.main-navG .linkGT {
  text-align: center;
  display: block;
  padding: 10px 15px;
}
.linkGT:hover{
  border: 5px solid green;  
 }

@media (min-width: 769px) {
  .main-headerG, .main-navG, #header-backgroundG {
    display: flex;
  }
  .main-headerG {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .main-headerG, #header-backgroundG {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.pgsm {
  text-align: left;
  /* text-decoration: underline; */
  text-indent: 25px;
}



  
/* ---- GDM Do ---- */
.containerG {
  background-color: green;
  border-radius: -5px;
  text-align: center;
  color: white;
  box-sizing: content-box;
  padding-bottom: 1em;
 }

/* ---- GSM Do Not ---- */
.containerGB {
  background-color: red;
  border-radius: -5px;
  text-align: center;
  color: white;
  box-sizing: content-box;
  padding-bottom: 1em;
 }

 /* ---- GSM Page Photos ---- */
.gsmP div img {
  width: 70%;
  height: auto;
  margin: 0 auto;
} 
.gsmP {   
  width: 80%;
  margin: 0 auto;
  text-align:center;
  display: table;
} 

#gsmP {
  text-align:center;
  display: table;
}






/* ---- GSM Page Footer ---- */
.main-footerG {
  text-align: center;
    padding: 2em 0;
    background: green;
    color: white;
}
.linkG { 
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.linkG:hover{
  border: 5px solid whitesmoke;  
 }

 /* ---------------------------------- ---- */
   /* ---- Contact Page Styling Below ---- */
 /* ---- ------------------------------ ---- */
   * {
    box-sizing: border-box;
  }
  .contactL {
    color: white;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: black;
    padding: 40px 0 60px;
  }
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  /* Main -------------------- */
  
  #container {
    width: 92%;
    margin: auto;
  }
  .btn {
    font-size: 0.875em;
    font-weight: 400;
    cursor: pointer; 
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: .5em 0 1em;
    text-transform: uppercase;
  }
  .btn:hover { 
    opacity: .75; 
  }
  .default {
    background-color: green; 
  }
  .error {
    background-color: #ff784f; 
  }
  
  /* Form -------------------- */
  
  .form-contact {
    padding: 20px 24px;
    background: lightgray;
    
  }
  label {
    display: block;
    margin-bottom: 0.5em; 
  }
  label:last-of-type {
   margin-top: 1.1em;
  }
  input,
  textarea  {
    outline: 0;
    border: none;
    padding: 15px;
    border-radius: .3em;
    border-bottom: 3px solid rgba(0,0,0,0.05);
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 1em;
    color: #222;
    font-weight: 300; 
    width: 100%;
    height: auto;
    margin-bottom: 1.2em;
    box-shadow: 0 1px 0 rgba(0,0,0,0.08) inset;
  }
  form > a {
    font-size: .85em;
  }
  /* input[type="checkbox"] + label { 
    font-weight: 300;
    font-size: .85em;
    display: inline;
    padding-left: 5px;
   } */
  
  /* Media Queries -------------------- */
  
  @media (min-width: 769px) {
    #container {
      max-width: 550px;
    }
  }

  /* UI element states pseudo-classes ------------ */


/*gives the text area a border color when selected*/
input:focus,
textarea:focus { 
  border-color: green;
}

/*changes color of disabled area*/
 input:disabled {
  background: lightgrey;
}

/*makes checked text bold*/
input[type="checkbox"]:checked + label {
  font-weight: bold;
}

  /* ---- Contact Page End ---- */